@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

page-login {
    .login{
       background-color: #ff6772; 
    }
    h1{
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: white;
        font-size: 5.78em;
    }
    .ep {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:5em;
        margin-bottom: 5em;
    }
    .margin-tb{
        margin-top: 2em;
        margin-bottom: 2em;
    }
    ion-label{
        color: white;
    }
    button{
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 2.58em;
    }
    h3{
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: white;
    }
    h4{
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color:#ff354b;
    }
    .center-b{
       height: 100%;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center; 
    }
}
